* {
    margin: 0;
    padding: 0;
}
body, html {
    background-color: #f0f1f3;
    font-family: 'Open Sans', sans-serif;
}
header {
    background: #81D39A;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000;
}
p {
    margin-bottom: 20px;
}
nav {
    margin: 0 auto;
}
ul li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
}
ul li  a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
}
ul li a:hover {
    background: #0DA678;
    color: black
}
section {
    width: 800px;
    padding: 30px 0;
    margin: 0 auto;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.about {
    padding: 20px;
}
.about-image {
    margin-right: 20px;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.about-content {
    text-align: justify;
}
.button {
    background: green;
    border-radius: 20px;
    color:#fff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
}
.button:hover {
    background: darkslategrey;
    color: white
}
.skills-box {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 20px;
}
.skills-box .grid {
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}
.skills-box  .icon {
    background: lightgrey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}
.skills-box  .icon img {
    width: 50%;
    margin: 20px auto;
}
.skills-box .grid  h3 {
    margin-top: 20px;
}
.contact ul li a {
    color: darkgreen;
    vertical-align: top;
}
.contact ul li a:hover {
    color: #000;
    background: none;
}
.form {
    overflow: hidden;
    width: 100%;

}
.contact-form {
    background-color: lightgray;
    float: left;
    width: 480px;
    padding: 20px;
    border-radius: 20px;
}
label {
    display: block;
}
input {
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
button {
    background: green;
    border-radius: 20px;
    color:#fff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: darkslategrey;
    color: white
}
.about-contact {
    float: right;
    width: 260px;
    margin-left: 20px;
}
.about-contact ul {
    margin-top: 20px;
}
.about-contact ul li {
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
}
.about-contact img {
    width: 22px;
    display: inline-block;
}
.about-contact a {
    display: inline-block;
    padding: 0;
}
footer {
    background: darkslategrey;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 13px
}
footer p {
    margin-bottom: 0;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: greenyellow;
    text-decoration: underline;
}
/* mobile view */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    
    .container {
        padding: 20px;
    }
    header {
        width: 100%;
    }
    section {
        width: 100%;
    }
    .circle {
        margin-bottom: 20px;
    }
    .box {
        display: block;
        width: 100%;
    }
    .about {
        padding: 0;
    }
    .about-image {
        text-align: center;
    }
    .about-content {
        width: 100%;
    }
    .button {
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    .skills-box{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        height: auto
    }
    .skills-box .icon {
        text-align: center;
        height: auto;
        display: inline-block;
    }
    .grid h3 {
        display: block;
    }
    .grid {
        position: relative;
        padding: 20px;
    }
    .contact {
        width: 100%;
    }
    .contact-form {
        width: 88%;
        padding: 20px;
    }
    .about-contact {
        width: 100%;
        margin-top: 20px;
    }
}